html, body {
  margin: 0;
  padding: 0;
}

body {
  padding: 15px;
  height: 600px;
  overflow: hidden;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 50px;
}

#container {
  /*width: 400px;*/
}

.header {
  margin-bottom: 20px;
}

.submit {
  width: 130px;
}

.photo {

}

.photo img {
  border: 1px solid #333;
  height: 100px;
  width: auto;
}

#messsage_container {
  display: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
}

.message {
  position: absolute;
  top: 30%;
  left: 25px;
  right: 25px;
}

.popup_footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.select2-container {
  width: 100% !important;
  display: block !important;
  margin-bottom: 20px !important;
  border-color: #dbdbdb;
}

#vac {
  opacity: 0;
}